@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Raleway:wght@800&display=swap"); /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lato", sans-serif;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

.text-primary {
  color: #3e9cdc;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  background: rgba(16, 16, 29, 0.9);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__logo-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 33, 5px;
  text-align: left;
}
.header__logo-link:visited {
  color: #ffffff;
}

.menu__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  color: #ffffff;
}
.menu__item_active {
  color: #43abf0;
}
.menu__item-link {
  cursor: pointer;
  transition: color 0.2s;
}
.menu__item-link:hover {
  color: #3e9cdc;
  transition: color 0.2s;
}

.header-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  max-height: 100vh;
}

.main {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 890px;
}
.main__container-wrapper {
  background-image: url(../assets/images/header-bg.png);
  background-repeat: no-repeat;
}
.main__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding-top: 100px;
  color: #fff;
  min-height: 790px;
  width: 100%;
}
.main__body {
  max-width: 780px;
  margin-top: 103px;
  color: #000000;
}
.main__title {
  font-size: 48px;
  font-weight: 800px;
  margin-bottom: 80px;
  text-transform: uppercase;
}
.main__subtitle {
  font-size: 48px;
  font-weight: 800px;
  margin-bottom: 80px;
}
.main__subtitle-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.main__subtitle__list {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  list-style-type: "-";
  list-style-position: inside;
}
.main__buttons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.main__buttons-link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  width: 183px;
  height: 43px;
  cursor: pointer;
}
.main__buttons-buy {
  color: #ffffff;
  background: #3e9cdc;
  border: 1px solid #ffffff;
  border-radius: 4px;
  margin-right: 30px;
}
.main__buttons-title {
  color: #2a2b30;
  background: #ffffff;
  border: 1px solid #6f6d7b;
  border-radius: 4px;
}/*# sourceMappingURL=index.css.map */