body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'Lato', sans-serif;
}

a,
a:visited {
	color: inherit;
	text-decoration: none;
}

.text-primary {
	color: $primary;
}

.container {
	padding: 0 15px;
	margin: 0 auto;

	@media (max-width: $screen-sm-max) {
		max-width: 500px;
	}
	@media (min-width: $screen-md) {
		max-width: 700px;
	}
	@media (min-width: $screen-lg) {
		max-width: 800px;
	}
	@media (min-width: $screen-lg-max) {
		max-width: 900px;
	}
}
